/* ===== Variables de colores ===== */
:root {
  --primario-color: #131010;
  --secundario-color: #123458;
  --terciario-color: #030303;
  --cuaternario-color: #D4C9BE;
  --color-letra: #F1EFEC;
}

/* ===== Body ===== */
body {
  background: var(--primario-color);
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* ===== Contenedor principal ===== */
.container {
  font-family: Arial, sans-serif;
  background: var(--terciario-color);
  padding: 20px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--cuaternario-color);
  max-width: 500px;
  width: 100%;
  color: var(--color-letra);
  font-size: clamp(14px, 2vw, 18px);
}

#saludoUsuario {
  margin: 20px 10px;
  text-align: center;
}

/* ===== Mensaje bloqueo ===== */
#mensajeBloqueo {
  margin-bottom: 20px;
}

#mensajePeriodoPrueba {
  font-size: 15px;
}

#botonPremium {
  width: 50%;
}

#mensaje {
  width: 30%;
  background: var(--cuaternario-color);
  color: var(--terciario-color);
  padding: 20px;
  position: fixed;
  top: 50px;
  border-radius: 5px;
  z-index: 1000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* === modals ===*/
.modal-fondo {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: var(--cuaternario-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-contenedor {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px var(--primario-color);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modal-input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-botones {
  margin-top: 15px;
}

.modal-botones button {
  padding: 8px 14px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-aceptar {
  background-color: var(--secundario-color);
  color: white;
}

.modal-cancelar {
  background-color: #f44336;
  color: white;
}
/* ===== Títulos ===== */
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(18px, 2.5vw, 28px);
}

/* ===== Caducidad ===== */
.caducidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

/* ===== Campo expiración ===== */
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label[for="expTime"] {
  font-weight: bold;
  display: block;
}

#expTime {
  width: 50%;
  padding: 8px 14px;
  border: 1px solid var(--cuaternario-color);
  border-radius: 8px;
  background-color: var(--primario-color);
  appearance: none;
  color: var(--cuaternario-color);
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#expTime:focus {
  border-color: var(--secundario-color);
  box-shadow: 0 0 0 3px var(--primario-color);
  outline: none;
}

/* ===== Opciones ===== */
.opciones {
  margin: 10px 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.opciones label {
  font-size: 15px;
}

/* ===== Input numérico ===== */
input[type="number"] {
  width: 40px;
  height: 20px;
  padding-left: 5px;
  border: 1px solid var(--cuaternario-color);
  border-radius: 5px;
  background-color: var(--primario-color);
  color: var(--cuaternario-color);
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus {
  border-color: var(--secundario-color);
  box-shadow: 0 0 0 3px var(--primario-color);
  outline: none;
}

/* ===== Select ===== */
select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--secundario-color);
  background-color: var(--primario-color);
  color: var(--color-letra);
  font-size: 15px;
  margin-top: 5px;
}

/* ===== Checkbox personalizado ===== */
.checkbox-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid var(--primario-color);
  border-radius: 6px;
  background-color: var(--cuaternario-color);
  transition: all 0.3s ease;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
  animation: checkboxExpand 0.3s ease forwards, glowEffect 1s infinite alternate;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 3px 3px 0;
}

.checkbox-container input:checked~.checkmark {
  background-color: var(--secundario-color);
  border-color: var(--primario-color);
}

.checkbox-container:hover .checkmark {
  box-shadow: 0 0 10px var(--primario-color);
}

/* ===== Animaciones checkbox ===== */
@keyframes checkboxExpand {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

@keyframes glowEffect {
  0% {
    box-shadow: 0 0 5px var(--secundario-color);
  }

  100% {
    box-shadow: 0 0 20px var(--secundario-color), 0 0 40px var(--secundario-color), 0 0 60px var(--secundario-color);
  }
}

/* ===== Tabla de datos ===== */
.tabla-datos {
  display: flex;
  flex-direction: column;
}

table {
  margin-bottom: 15px;
}

.tabla-datos td {
  text-align: center;
}

/* ===== Input Spreadsheet ID ===== */
#spreadsheetIdInput {
  height: 25px;
  width: 50%;
  padding-left: 5px;
  border: 1px solid var(--cuaternario-color);
  border-radius: 8px;
  background-color: var(--primario-color);
  color: var(--cuaternario-color);
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#spreadsheetIdInput:focus {
  border-color: var(--secundario-color);
  box-shadow: 0 0 0 3px var(--primario-color);
  outline: none;
}

/* ===== Botones ===== */
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* ===== Contenido ===== */
#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

/* ===== Caja de resultado ===== */
#result-box {
  margin-top: 20px;
  padding: 20px;
  background: var(--primario-color);
  border-radius: 8px;
  text-align: center;
}

#result {
  color: var(--terciario-color);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 0px 10px var(--color-letra);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#timer {
  margin-bottom: 20px;
}

/* ===== Botón general ===== */
button {
  background-color: var(--secundario-color);
  color: var(--color-letra);
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* Móvil pequeño (teléfonos) */
@media (max-width: 480px) {
  #spreadsheetIdInput {
    width: 80%;
  }

  #expTime {
    width: 80%;
  }
}

/* Tablet y teléfonos grandes */
@media (min-width: 481px) and (max-width: 768px) {
  #spreadsheetIdInput {
    width: 60%;
  }
}

/* Escritorio y pantallas grandes */
@media (min-width: 769px) {}